<div class="container">
  <h1 class="header">Change your Password</h1>
  <mat-form-field *ngIf="userDetails !== null" appearance="fill" [style.width.px]=300>
    <mat-label>Old password</mat-label>
    <input (ngModelChange)="checkPasswords()" [style.fontSize.px]="15" type="password"
           matInput [formControl]="oldPasswordFormField">
    <mat-error>Invalid password</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" [style.width.px]=300>
    <mat-label>New password</mat-label>
    <input (ngModelChange)="checkPasswords()"
           [style.fontSize.px]="15" type="password"
           matInput [formControl]="newPasswordFormField">
    <mat-error *ngIf="errorMsg.error === true">{{errorMsg.msg}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" [style.width.px]=300>
    <mat-label>Confirm password</mat-label>
    <input (ngModelChange)="checkPasswords()"
           [style.fontSize.px]="15" type="password"
           matInput [formControl]="confirmPwdFormField">
    <mat-error *ngIf="errorMsg.error === true">{{errorMsg.msg}}</mat-error>
  </mat-form-field>
  <div class="actions">
    <button (click)="closeDialog()" class="close-btn" mat-raised-button>Close</button>

    <button (click)="changePassword()"
            *ngIf="errorMsg.error === false"
            color="warn" mat-raised-button>
      Save changes
    </button>
<!--
    <button (click)="resetPwd()"
            *ngIf="
            newPwdControl.errors === null &&
            userDetails === null"
            color="warn" mat-raised-button>
      Reset Password
    </button>-->
  </div>
  <br>

  <span>{{requestStatus.errorMsg}}</span>
</div>


