<div class="primary-color"  [ngClass]="[($isLoggedIn | async) == true ?
'logged-container' : 'container-not-logged']">
  <div *ngIf="isDesktopDevice || isTabletDevice || isMobileDevice" class="left">
    <a routerLink="/welcome" mat-icon-button class="home_button">
      <img width="60px" height="60px" style="margin-top: 0px"  src="assets/Specshots-Logo.png">
    </a>
   <a style="margin-left: 10px; font-family: Epilogue,serif"
      *ngIf="(isDesktopDevice || isTabletDevice)">
      <strong>Welcome to SpecShots</strong>
    </a>
  </div>
  <div  fxLayoutAlign="center" fxFlexAlign="center">
  <!--  <div class="center"> -->
        <div class="center-wrapper"  style="background-color: white; height: 60px; padding: 3px; border-radius: 10px;"
             [ngClass]="[isMobileDevice ? 'mobile-width' : isTabletDevice ? 'tablet-width' : 'desktop-width']">
          <app-custom-search-bar [disableIcon]="disableSearchOptionsIcon"
                                 (changedValue)="closeFilterDetails($event)"
                                 (enterPressed)="search($event)"
                                 (clickPressed)="search($event)"
                                 (openCloseSearchOptions)="closeFilterDetails($event)"></app-custom-search-bar>
        </div>
   <!-- </div> -->
  </div>

  <!--<div *ngIf="($isLoggedIn | async) == false" class="auth-container">
    <button (click)="login()" mat-raised-button id="login" class="">Login</button>

  </div>
  <div *ngIf="($isLoggedIn | async) == false" class="signUp">
    <button (click)="signup()" mat-raised-button id="sign-up">Register</button>
  </div>-->


  <div class="user_actions" *ngIf="(isMobileDevice || isTabletDevice) && ($isLoggedIn | async) == false">
    <button class="mobile-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon style="color: white">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="($isLoggedIn | async) == false" (click)="login()" class="">
        <mat-icon>account_box</mat-icon>
        Login
      </button>
      <button *ngIf="($isLoggedIn | async) == false" (click)="signup()" mat-menu-item>
        <mat-icon>person_add</mat-icon>
        Register
      </button>
    </mat-menu>
  </div>


  <div class="unregistered_actions" *ngIf="isDesktopDevice">
    <button  *ngIf="($isLoggedIn | async) == false"
            (click)="login()"
            mat-raised-button id="login" class="">
      Login
    </button>
    <button *ngIf="($isLoggedIn | async) == false" (click)="signup()" mat-raised-button id="sign-up">Register</button>
    <!--<button *ngIf="($isLoggedIn | async) == true" class="shadow" (click)="navigateUploadImage()" mat-flat-button>Submit a picture</button>-->
  </div>

  <!--<div *ngIf="($isLoggedIn | async) == true" class="submit_image">
    <button class="shadow" (click)="navigateUploadImage()" mat-flat-button>Submit a picture</button>
  </div>-->


  <div class="account_icon_container" *ngIf="($isLoggedIn | async) == true">
    <!--<button class="shadow" (click)="navigateUploadImage()" mat-flat-button>Submit a picture</button>-->
    <button *ngIf="($isLoggedIn | async) == true && (isDesktopDevice)"
            (click)="navigateUploadImage()"
            mat-icon-button>
      <mat-icon matTooltip="Add your spectacular shot to your gallery."
                matTooltipPosition="below"
                style="color: white; font-size: 40px">add_a_photo</mat-icon>
    </button>
    <div class="msg" >
      <span class="welcome_msg"
            style="color: white; margin-left: 10%; font-size: 15px"
            *ngIf="($isLoggedIn | async) == true && (isDesktopDevice || isTabletDevice)">
      <strong>{{ "Hi, " + ($userName | async) || "User" }}</strong>
    </span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="!($profileImage | async)"
                style="color: white;font-size: 50px">account_circle
      </mat-icon>

      <img *ngIf="($profileImage | async)" #element appImageError
           class="img shadow"
           [src]="$profileImage | async">
      <mat-menu #menu="matMenu">
        <button (click)="navigateToUser()" mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>View profile</span>
        </button>
        <button *ngIf="isMobileDevice || isTabletDevice" (click)="navigateUploadImage()" mat-menu-item>
          <mat-icon>add_a_photo</mat-icon>
          <span>Submit your image</span>
        </button>
        <button (click)="navigateToSettings()" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Account settings</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </button>
  </div>


  <!-- <div style="width: 33%"></div> -->
  <!--<div *ngIf="filterable && searchOption !== 'Users'" class="open-filter-details">


    <button class="expand_btn" style="color: white;" (click)="closeFilterDetails()" mat-icon-button>
      <mat-icon style="color: white">expand_more</mat-icon>
      <span style="color: white;">Search details </span>
    </button>
  </div>
</div>-->


</div>

<div class="container filterDetails" *ngIf="filterable && openCloseDetails">
  <div *ngIf="searchOption === 'Tags'" class="center2" style="padding-top: 10px; padding-bottom: 10px;display: flex; justify-content: center">
    <section id="id_Section">
      <ul class="align_ul" style="list-style-type: none;">
        <li style="color: white; font-size: 18px; margin-bottom: 10px"><strong>Filter : </strong></li>
        <li *ngFor="let timeFilter of filterOptions.timeFilterOptions "
            style="color: white;">
          <mat-checkbox [(ngModel)]="timeFilter.checked"
                        (change)="updateAll($event, timeFilter)">
            {{timeFilter.name}}
          </mat-checkbox>
        </li>
      </ul>

      <section style="display: flex; flex-direction: column">
        <ul class="align_ul" style="list-style-type: none">
          <li style="color: white; font-size: 18px; margin-bottom: 10px"><strong>Sort : </strong></li>
          <li style="color: white">
            <mat-checkbox [(ngModel)]="filterOptions.mostDownloads.checked">
              {{filterOptions.mostDownloads.name}}
            </mat-checkbox>
          </li>
          <li style="color: white">
            <mat-checkbox [(ngModel)]="filterOptions.mostLiked.checked">
              {{filterOptions.mostLiked.name}}
            </mat-checkbox>
          </li>
        </ul>
      </section>
    </section>
  </div>
</div>
