<app-search-toolbar></app-search-toolbar>
<div class="container">
  <div class="top">
    <div class="top_left_filler"></div>
    <div class="profile-icon">
      <mat-icon *ngIf="!($profile | async)" id="icon" style="font-size: 200px; color: grey">account_circle</mat-icon>
      <img *ngIf="$profile | async" class="profile-img" [src]="$profile | async">
      <label id="select-profile">
        <input class="input-fontSize-desktop" (change)="handleFileInput($event.target.files)" style="display: none"
               type="file">
        <a>Change profile image</a>
      </label>
    </div>
    <div class="form">
      <form [formGroup]="formGroup" class="example-form">
        <mat-form-field appearance="fill" id="first" class="example-full-width">
          <mat-label>Firstname</mat-label>
          <input (ngModelChange)="firstNameChanged()" class="input-fontSize-desktop" [formControl]="firstNameControl"
                 matInput placeholder="John">
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Lastname</mat-label>
          <input (ngModelChange)="lastNameOnChange()" class="input-fontSize-desktop" [formControl]="lastNameControl" matInput placeholder="Doe">
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Change Email</mat-label>
          <input class="input-fontSize-desktop" placeholder="doe@gmail.com"
                 [readonly]="readOnlyEmail"
                 [formControl]="emailControl"
                 (ngModelChange)="emailChanged()"
                 matInput type="text">
          <button (click)="editEmail()" mat-button matSuffix mat-icon-button aria-label="Edit">
            <mat-icon style="font-size: 17px">edit</mat-icon>
          </button>
          <mat-error style="font-size: 16px" *ngIf="email.errors">{{email.errors.forbiddenValue.value}}</mat-error>
        </mat-form-field>

        <!--<mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Email</mat-label>
          <input [readonly]="readOnlyEmail" [formControl]="emailControl" matInput placeholder="doe@gmail.com">
          <button mat-button mat-icon-button (click)="editEmail()">
            <mat-icon  matSuffix>edit</mat-icon>
          </button>
        </mat-form-field>-->
      </form>
    </div>
  </div>
  <div class="bottom">
    <div class="form-2">
      <mat-form-field id="userName" appearance="fill" class="example-full-width">
        <mat-label>Username</mat-label>
        <input class="input-fontSize-desktop"
               [readonly]="readOnlyUserName"
               [formControl]="userNameControl" matInput placeholder="johnDoe"
               (ngModelChange)="userNameChanged()">
        <button (click)="readOnlyUserName = false" mat-button matSuffix mat-icon-button aria-label="Edit">
          <mat-icon style="font-size: 17px">edit</mat-icon>
        </button>
        <mat-error style="font-size: 16px" *ngIf="userName.errors">{{userName.errors.value}}</mat-error>
      </mat-form-field>
    </div>
    <div style="margin-top: 10px" class="actions">
      <div class="save">
        <button (click)="saveEmailChanges()"
                color="warn"
                *ngIf="!email.errors && !userName.errors && !firstName.errors && !lastName.errors &&
                   ((userDetailsChanged$ | async) === true ||
                (userNameValChange$ | async) === true   ||
                (firstValChange$ | async) === true   ||
                (lastValChange$ | async) === true)"
                mat-raised-button>Save changes
        </button>
      </div>
      <div class="change-pswd">
        <button color="warn" mat-raised-button>Change password</button>
      </div>
    </div>
  </div>
</div>
