:host {
  display: flex;
  align-items: center;
  justify-content: center;

}


.foo {
  background-color: yellow;
}

.search-options-icon {
  cursor: pointer;
}

.search-form-field {
  width: 99%;
}


