<mat-form-field class="search-form-field" appearance="outline">
  <mat-label>Search</mat-label>
  <a mat-icon-button
     matSuffix
     (click)="openCloseSearchOptions.emit( (clickedFilterDetails = !clickedFilterDetails) )">
    <mat-icon class="search-options-icon" style="color: black" >menu</mat-icon>
  </a>
  <app-custom-search-bar-content (enterPressed)="enterPressed.emit($event.valueOf())" [required]="false"
                                 [formControl]="formControl"
                                 placeholder="Search your desired entity"></app-custom-search-bar-content>
</mat-form-field>

