<mat-form-field class="search-form-field" appearance="outline">
  <mat-label>Search</mat-label>
  <a *ngIf="!disableIcon"
     mat-icon-button
     matSuffix
     (click)="emitOpenOptions()">
    <mat-icon class="search-options-icon" style="color: black" >menu</mat-icon>
  </a>
  <app-custom-search-bar-content #component (valueChanged)="foo($event)"
                                 (enterPressed)="enterPressed.emit($event)"
                                 (clickPressed)="clickPressed.emit($event)"
                                 [required]="false"
                                 [formControl]="content"
                                 placeholder="Search your desired entity"></app-custom-search-bar-content>

</mat-form-field>

