<div class="header-container shadow"
     fxLayout="row"
     fxLayoutAlign="space-between center">
  <div class="header">
    <strong>Login</strong>
  </div>
  <mat-divider></mat-divider>
  <div class="logo-container"
       fxLayout="row"
       fxLayoutAlign="space-evenly center">
    <a (click)="close()" mat-icon-button class="home_button">
      <!--<img width="40px" height="40px" style="margin-top: 0px"  src="assets/Specshots-Logo.png">-->
      <mat-icon style="color: white">close</mat-icon>
    </a>
  </div>
</div>

<div class="logo-container2 shadow" fxLayout="column" fxLayoutAlign="center center">
  <img class="logo-image" width="40px" height="40px" style="margin-top: 0px" src="assets/Specshots-Logo.png">
</div>
<div style="margin-top: 10px" fxLayout="column" fxLayoutAlign="center center">
  <span fxLayout="column" class="logo-name" fxLayoutAlign="center center">
    <span style="font-size: 18px;">Sign In with</span>
    <span><strong>SpecShots</strong></span>
  </span>
</div>
<!--<mat-divider style="color: black"></mat-divider>-->

<div (click)="isOpen = false" class="content"
     [formGroup]="formGroup"
     fxLayout="column"
     fxLayoutAlign="center space-evenly" fxLayoutGap="20px">
  <!--  <div class="icon" >-->
  <!--    <mat-icon style="font-size: 60px">account_box</mat-icon>-->
  <!--    -->
  <!--  </div>-->
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email"
             matInput [formControl]="emailFormField">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" *ngIf="forgotPasswordPressed === false">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput [formControl]="passwordFormField">
    </mat-form-field>
  </p>
  <!--  <mat-grid-list gutterSize="10px" cols="1" rowHeight="220px">-->
  <!--    <mat-grid-tile>-->
  <!--      <div class="container2">-->
  <!--        -->
  <!--        -->
  <!--      </div>-->
  <!--    </mat-grid-tile>-->
  <!--  </mat-grid-list>-->

  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch" class="container">
    <!--<div *ngIf="forgotPasswordPressed === false">

    </div>-->

    <!--<button *ngIf="forgotPasswordPressed === false" [close]="closeTooltip" [email]="mail"
            [password]="pwd"
            appVerifyTooltip="Your Account must be verified"
            (click)="login()" color="primary" class="shadow"
            mat-raised-button >Sign In
    </button>-->

    <ng-container *ngIf="forgotPasswordPressed === false">
      <button cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
              (click)="login()" color="primary"
              class="shadow"
              mat-raised-button>Sign In
      </button>


      <ng-template cdkConnectedOverlay
                   [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayOpen]="(isOpen || ($requestStatusCode | async) === 423) &&
                    forgotPasswordPressed === false">
        <app-verify-tooltip (close)="closeToolTipFunc($event)" [email]="mail" [password]="pwd"
                            text="Verify your account!"></app-verify-tooltip>
      </ng-template>
    </ng-container>


    <button class="shadow" *ngIf="forgotPasswordPressed === true" (click)="forgotPassword()"
            mat-raised-button color="warn">Reset Password
    </button>

    <button *ngIf="forgotPasswordPressed === true"
            (click)="forgotPasswordPressed = false;" color="primary" class="shadow"
            mat-raised-button>
      <mat-icon>arrow_back</mat-icon>
      Back to Sign In
    </button>
    <!--<button class="shadow" (click)="close()" mat-raised-button color="warn">Close</button>-->

    <button class="full-width-button" *ngIf="forgotPasswordPressed === false" (click)="googleLogin()" mat-button>
      <img style="margin-top: 15px" src="../../../assets/btn_google_signin_dark_normal_web.png" alt="FOO">
    </button>
    <!--<button fxLayoutAlign="start" (click)="openRenewDialog()" style="background-color: white" mat-raised-button
            *ngIf="($requestStatusCode | async) === 423 && pressedLogin === true && forgotPasswordPressed === false">
      <img src="assets/padlock-5-64.png" width="40px" height="40px" alt="">
      Your account needs to be verified
    </button>-->

    <!--<mat-dialog-actions>
      <div>

        &lt;!&ndash;<div class="btn-grp1" fxLayout="row" fxLayoutAlign="start">

        </div>&ndash;&gt;
        &lt;!&ndash;<div style="margin-top: 10px" class="btn2" fxLayout="row" fxLayoutAlign="start">
          <button fxLayoutAlign="start" (click)="openRenewDialog()" style="background-color: white" mat-raised-button
                  *ngIf="($requestStatusCode | async) === 423 && pressedLogin === true && forgotPasswordPressed === false">
            <img src="assets/padlock-5-64.png" width="40px" height="40px" alt="">
            Your account needs to be verified
          </button>
        </div>
        <button *ngIf="forgotPasswordPressed == false" mat-icon-button (click)="forgotPasswordPressed = true">
          <mat-icon> vpn_key</mat-icon>
          Forgot password?
        </button>&ndash;&gt;
      </div>
    </mat-dialog-actions>-->
    <mat-error *ngIf="($requestStatusCode | async) === 401 ">
      <strong>Wrong credentials provided</strong>
    </mat-error>
  </div>
</div>

<div class="footer" style="margin-top: 30px" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="forogt-box" fxFlex="80">
    <button *ngIf="forgotPasswordPressed == false" mat-button (click)="forgotPasswordPressed = true;">
      Forgot password?
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" style="font-family: 'agave Nerd Font', sans-serif; color: white">
      <span><strong>SpecShots</strong></span>
    <span class="small-txt"> &#169;2020</span>
    </div>
</div>


