<div fxLayout="row" fxLayout.sm="column" fxLayoutAl style="width: 310px; ">
  <mat-dialog-content class="content" [formGroup]="formGroup">
    <h1 style="font-family: 'agave Nerd Font',cursive">
      <strong>Login</strong>
    </h1>
    <!--  <div class="icon" >-->
    <!--    <mat-icon style="font-size: 60px">account_box</mat-icon>-->
    <!--    -->
    <!--  </div>-->
    <p>
      <mat-form-field [style.width.px]=330>
        <mat-label>Email</mat-label>
        <input [style.fontSize.px]="15"
               matInput [formControl]="emailFormField">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field *ngIf="forgotPasswordPressed === false" [style.width.px]=330>
        <mat-label>Password</mat-label>
        <input [style.fontSize.px]="15" type="password"
               matInput [formControl]="passwordFormField">
      </mat-form-field>
    </p>
    <!--  <mat-grid-list gutterSize="10px" cols="1" rowHeight="220px">-->
    <!--    <mat-grid-tile>-->
    <!--      <div class="container2">-->
    <!--        -->
    <!--        -->
    <!--      </div>-->
    <!--    </mat-grid-tile>-->
    <!--  </mat-grid-list>-->
  </mat-dialog-content>
  <div class="container">
    <mat-dialog-actions>
      <div fxLayout="column" fxLayoutAlign="start">
        <div class="btn-grp1" fxLayout="row" fxLayoutAlign="start">
          <button *ngIf="forgotPasswordPressed === false" fxLayoutAlign="start center" id="loginBtn" (click)="login()"
                  mat-raised-button color="primary">Login
          </button>
          <button *ngIf="forgotPasswordPressed === true" fxLayoutAlign="start center" (click)="forgotPassword()"
                  mat-raised-button color="primary">Reset Password
          </button>
          <button (click)="close()" mat-raised-button color="warn">Close</button>
          <button *ngIf="forgotPasswordPressed === false" (click)="googleLogin()" mat-icon-button>
            <img src="../../../assets/btn_google_signin_dark_normal_web.png" alt="FOO">
          </button>
        </div>
        <div style="margin-top: 10px" class="btn2" fxLayout="row" fxLayoutAlign="start">
          <button fxLayoutAlign="start" (click)="openRenewDialog()" style="background-color: white" mat-raised-button
                  *ngIf="($requestStatusCode | async) === 423 && pressedLogin === true && forgotPasswordPressed === false">
            <img src="assets/padlock-5-64.png" width="40px" height="40px" alt="">
            Your account needs to be verified
          </button>
        </div>
        <button mat-icon-button (click)="forgotPasswordPressed = true">
          <mat-icon> vpn_key</mat-icon>
          Forgot password?
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</div>

