<app-search-toolbar [filterable]="true"></app-search-toolbar>

<div *ngIf="$selectedImage | async as data" fxLayoutAlign.xs="center center"
     fxLayout.lg="row" fxLayout.xs="column" fxLayout.sm="column" class="container" fxLayoutGap="30px"
     fxLayoutAlign="center center" fxLayoutGap.lg="10px"
     [ngStyle.md]="{'padding-top': '30px', 'margin-left': '22px', 'height': '820px', 'width': '97%'}"
     [ngStyle.sm]="{'padding-top': '30px', 'margin-left': '3px', 'height': '1200px', 'width': '97%'}"
     [ngStyle.xs]="{'padding-top': '5px', 'margin-left': '5px', 'height': '1200px', 'width': '100%'}"
     [ngStyle.gt-lg]="{'padding-top': '40px', 'margin-left': '5px', 'height': '900px', 'width': '97%'}">
  <mat-card class="example-card shadow color-and-radius">
    <mat-card-header>
      <img class="shadow" appImageError mat-card-avatar [src]="data.user.profileImgPath" alt="">
      <mat-card-title [ngStyle.xs]="{'font-size': '15px' }">{{data.name}}</mat-card-title>
      <mat-card-subtitle>{{data.user.username}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="data.linkReference !== 'null'">
        <a matTooltip="{{'Go to ' + data.linkReference}}"
           [href]="data.linkReference" mat-icon-button>
          <mat-icon>link</mat-icon>
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="data.link" alt="Photo of a Shiba Inu">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button class="shadow" mat-button style="margin-right: 15px">
        <mat-icon style="margin-right: 3px; margin-left: 3px; color: black">thumb_up</mat-icon>
        <span style="margin-left: 3px; margin-right: 3px; color: black">{{data.liked}}</span>
      </button>


      <button style="background-color: #941B85;" class="shadow" mat-button matTooltip="Click to open menu"
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
        <!--    <mat-icon style="font-size: 30px">more_vert</mat-icon>-->
        <mat-icon style="color: white">save_alt</mat-icon>
        <span style="margin-left: 3px; margin-right: 3px; color: white">{{data.downloaded}}</span>
      </button>

      <mat-menu backdropClass="img-download-detail" #menu="matMenu">
        <div *ngFor="let detail of data.imageDetails">
          <button (click)="download(detail)" style="width: 700px; height: 100%" mat-menu-item>
            <mat-icon>aspect_ratio</mat-icon>
            <span style="display: inline-block; width: 15px"></span>
            <span>{{detail.width + " x " + detail.height}}</span>
            <!--          <span style="display: inline-block; width: 25px"></span>-->
            <!--          <span>{{detail.contentType}}</span>-->
            <span style="display: inline-block; width: 25px"></span>
            <span>{{(detail.size / 1024).toFixed(1) + " kB"}}</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item [mat-menu-trigger-for]="cropImage">
          <mat-icon>settings_applications</mat-icon>
          Download options
        </button>

        <mat-menu #cropImage="matMenu" xPosition="before">
          <button (click)="cropImageForDownload(data.imageDetails[0])" mat-menu-item>
            <mat-icon>photo_size_select_large</mat-icon>
            Crop image
          </button>
          <mat-divider></mat-divider>
          <button (click)="getIndividualResolutionDownloadDialog(data.imageDetails[0])" mat-menu-item>
            <mat-icon>transform</mat-icon>
            Set individual dimensions
          </button>
        </mat-menu>
      </mat-menu>
    </mat-card-actions>

    <!--<mat-card-content>

    </mat-card-content>-->
  </mat-card>

  <mat-card [ngStyle.xs]="{'margin-left': '30px', 'width': '87%'}"
            class="download-image color-and-radius shadow">
    <mat-card-title>
      <strong>SpecShots</strong> download options
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <mat-list #option>
        <mat-list-item #downloadItem
                       (click)="OpenDownloadBox(detail)"
                       class="hoverable border-radius"
                       *ngFor="let detail of data.imageDetails; index as i"
                        [class.clicked-details]="detail.width === clickedDownloadResolution.width">
          <mat-icon mat-list-icon>cloud_download</mat-icon>
          <div mat-line>
          <strong>{{appendFileSizeName(i)}}</strong> {{detail.width + " x " + detail.height}}
          </div>
          <div mat-line>
            <span>Size : {{(detail.size / 1024).toFixed(1) + " kB"}}</span>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngIf="toggle">
          <button matLine
                  (click)="download(clickedDownloadResolution)" style="font-size: 23px" color="primary" mat-line mat-raised-button>
            Download
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>
        <div mat-subheader>Individual download actions</div>

        <mat-list-item class="hoverable" (click)="cropImageForDownload(data.imageDetails[0])">
          <mat-icon mat-list-icon>photo_size_select_large</mat-icon>
          <div mat-line>
            Crop image
          </div>
        </mat-list-item>
        <mat-list-item class="hoverable" (click)="getIndividualResolutionDownloadDialog(data.imageDetails[0])">
          <mat-icon mat-list-icon>transform</mat-icon>
          <div mat-line>
            Set individual dimensions
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-actions>
  </mat-card>
</div>


<!--<div fxLayout="row" style="min-width: 100%; padding: 30px; margin-top: 200px" *ngIf="$selectedImage | async as data">
  <div fxLayoutGap="20px" *ngFor="let i of data.tags">
    <a mat-button (click)="clickedTag(i.tag)" style="color: black;
        color: black;
        text-decoration: none;
        border-radius: 20px;
        margin-top: 2%;">
      {{'# ' + i.tag }}
    </a>
  </div>
</div>-->


<!--<div class="container">


  <div *ngIf="$selectedImage | async as data" class="content">
    <div class="img">
      <img class="img-content"  [src]="data.link" alt="">
    </div>
    <div class="content-details">
      <span class="data-name">{{data.name}}</span>
    </div>
  </div>

  <div class="download" *ngIf="$selectedImage | async as data">
    <div class="spacer" style="margin-bottom: 20px; background-color: #941B85">
      <div class="profile-detail">
        <div class="temp">
          <button mat-icon-button>
            &lt;!&ndash;        <mat-icon>account_circle</mat-icon>&ndash;&gt;
            <img class="shadow" width="60px" height="60px" style="border-radius: 100%;"
                 src="{{data.user.profileImgPath}}" alt="">
          </button>
          <span style="margin-left: 30px; font-size: 18px; color: white">{{data.user.username}}</span>
        </div>
      </div>
      <mat-divider style="margin-top: 40px; margin-bottom: 20px; border-color: white"></mat-divider>

      <div class="img-detail">
        <div class="img-name" style="display: flex; flex-direction: row; align-items: baseline; flex-wrap: wrap; max-width: 220px">
          &lt;!&ndash;<mat-icon  color="primary" style="font-size: 40px; margin-right: 5px">image</mat-icon>&ndash;&gt;
          <button style=" ;width: 50px; height: 50px; font-size: 18px; word-break: break-all; background-color: white" mat-fab>
            <mat-icon style="color: black" >image</mat-icon>
          </button>
          <span style="margin-left: 30px; font-size: 18px; max-width: 130px; color: white">{{data.name}}</span>
        </div>

        <div class="img-stats">
          <mat-chip-list style="margin-top: 20px; margin-bottom: 10px" aria-label="Fish selection">
            <div class="chips" style="display: flex; flex-direction: row; margin-top: 20px">
              <mat-chip class="shadow chip" style="background-color: white"  selected>
                <mat-icon style="margin-right: 3px; margin-left: 3px; color: black">thumb_up</mat-icon>
                <span style="margin-left: 3px; margin-right: 3px; color: black">{{data.liked}}</span>
              </mat-chip>
              <mat-chip class="shadow chip" style="background-color: white"  selected>
                <mat-icon style="color: black">save_alt</mat-icon>
                <span style="margin-left: 3px; margin-right: 3px; color: black">{{data.downloaded}}</span>
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>
      </div>


      <mat-divider style="margin-top: 20px; margin-bottom: 10px; border-color: white"></mat-divider>


      <div class="download-image">
        <button class="shadow" mat-raised-button matTooltip="Click to open menu"
                style="color: white; width: 300px; height: 50px; background-color: #ef233c"
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
          &lt;!&ndash;    <mat-icon style="font-size: 30px">more_vert</mat-icon>&ndash;&gt;
          Download
        </button>

        <mat-menu backdropClass="img-download-detail" #menu="matMenu" >
          <div *ngFor="let detail of data.imageDetails">
            <button (click)="download(detail)" style="width: 700px; height: 100%" mat-menu-item>
              <mat-icon>aspect_ratio</mat-icon>
              <span style="display: inline-block; width: 15px"></span>
              <span>{{detail.width + " x " + detail.height}}</span>
              &lt;!&ndash;          <span style="display: inline-block; width: 25px"></span>&ndash;&gt;
              &lt;!&ndash;          <span>{{detail.contentType}}</span>&ndash;&gt;
              <span style="display: inline-block; width: 25px"></span>
              <span>{{(detail.size / 1024).toFixed(1) + " kB"}}</span>
            </button>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item [mat-menu-trigger-for]="cropImage">
            <mat-icon>settings_applications</mat-icon>
            Download options
          </button>

          <mat-menu #cropImage="matMenu" xPosition="before">
            <button (click)="cropImageForDownload(data.imageDetails[0])" mat-menu-item>
              <mat-icon>photo_size_select_large</mat-icon>
              Crop image
            </button>
            <mat-divider></mat-divider>
            <button (click)="getIndividualResolutionDownloadDialog(data.imageDetails[0])" mat-menu-item>
              <mat-icon>transform</mat-icon>
              Set individual dimensions</button>
          </mat-menu>
        </mat-menu>
      </div>
    </div>




    <div class="related-tags">
      <h3>Related tags : </h3>
      <div *ngIf="$selectedImage | async as data" class="tags">
        <a class="shadow" (click)="clickedTag(i.tag)" style="background-color: #f4f1de; color: black;
        color: black;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 20px;
        margin-top: 2%; margin-right: 1%" *ngFor="let i of data.tags">{{'# ' + i.tag }}
        </a>
      </div>
    </div>
    <span style="margin-top: 20px"></span>
  </div>
</div>-->

<div [ngStyle.xs]="{'margin-top': '50px'}" class="related-images-container">
  <div class="header">
    <h2>Related images : </h2>
  </div>
  <app-image-content [isProfile]="false"
                     [data]="$relatedImages"></app-image-content>
</div>

