.spinner {
  width: 100%;
}

.download-txt {
  width: 100%;
}

.white-color {
  color: white;
}

.mat-form-field {
  width: 100%;
}

.container {
  padding: 20px;
}

.toolbar {
  background-color: #941B85;
}
