<app-search-toolbar></app-search-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="isMobile">
  <mat-drawer class="example-sidenav"
              mode="over" #drawer [opened]="!isMobile"
              [disableClose]="isMobile">
    <div class="example-sidenav-content">
      <div class="details">

        <button class="close" *ngIf="isMobile" (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
        <span *ngIf="!isMobile" class="title"><strong>Crop your image with SpecShots</strong></span>
        <mat-divider *ngIf="!isMobile" class="title-divider"></mat-divider>
        <div class="icon" *ngIf="!isMobile">
          <img width="40px" height="40px" src="assets/Specshots-Logo.png">
        </div>


        <mat-form-field  class="width" disabled="true" style="color: white"
                        appearance="fill">
          <mat-label>Width</mat-label>
          <input class="white-color" readonly type="number" (change)="changedWidthFunc(input.value)"
                 [formControl]="widthInputField" matInput #input>
          <!--<mat-hint>{{widthInputField.value * diffRatio}}</mat-hint>-->
        </mat-form-field>


        <mat-form-field class="height" disabled="true"
                        appearance="fill">
          <mat-label>Height</mat-label>
          <input readonly type="number" [formControl]="heightInputField" matInput #input2>
          <!--<mat-hint>{{heightInputField.value * diffRatio}}</mat-hint>-->
        </mat-form-field>


        <div class="ratio">
          <mat-button-toggle-group  class="toggle-group" #group="matButtonToggleGroup">
            <mat-button-toggle (click)="$aspectRatioSubj.next(4 / 3)" value="4 / 3" aria-label="Text align left">
              4 / 3
            </mat-button-toggle>
            <mat-button-toggle (click)="$aspectRatioSubj.next(16 / 9)" value="16 / 9" aria-label="Text align center">
              16 / 9
            </mat-button-toggle>
            <mat-button-toggle (click)="$aspectRatioSubj.next(3 / 2)" value="3 / 2" aria-label="Text align right">
              3 / 2
            </mat-button-toggle>
            <mat-button-toggle (click)="$aspectRatioSubj.next(originalRatio)" checked value="original"
                               aria-label="Text align justify">
              Original
            </mat-button-toggle>
            <!--<mat-button-toggle  (click)="$aspectRatioSubj.next(0)" value="free" aria-label="Text align justify">
              Free
            </mat-button-toggle>-->
          </mat-button-toggle-group>
        </div>


        <button *ngIf="showSpinner === false" class="download-btn"
                [matMenuTriggerFor]="menu" (onMenuOpen)="cropAndDownload(input.value, input2.value)" mat-raised-button>
          Download
        </button>
        <mat-menu style="width: 100%" #menu="matMenu">
          <div *ngIf="$croppedValues | async as croppedDetails">
            <div class="hoverable" *ngFor="let detail of croppedDetails.possibleResolutions">
              <button (click)="download(detail)" style="width: 100%; border-radius: 50%" mat-menu-item>
                <mat-icon>download</mat-icon>
                <span>{{detail}}</span>
              </button>
            </div>
          </div>

        </mat-menu>
        <span *ngIf="downloadError">Error while downloading file.</span>
        <div class="" *ngIf="showSpinner">
          <div class="load-image loading" style="">
            <mat-progress-bar mode="indeterminate" class="foo"></mat-progress-bar>
            <span style="font-size: 16px; margin-top: 20px">
              <strong style="color: #A9A9A9">
                {{'Processing request. This can take a while..'}}
              </strong>
            </span>
          </div>
        </div>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content class="drawer-content">


    <!--<button *ngIf="finishedLoadingImage || isDownLoadingImage !== null" [matMenuTriggerFor]="menu" (onMenuOpen)="cropAndDownload(input.value, input2.value)" mat-icon-button >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu style="width: 100%" #menu="matMenu">
      <div *ngIf="$croppedValues | async as croppedDetails">
        <div class="hoverable" *ngFor="let detail of croppedDetails.possibleResolutions">
          <button (click)="download(detail)" style="width: 100%; border-radius: 50%" mat-menu-item>
            <mat-icon>download</mat-icon>
            <span>{{detail}}</span>
          </button>
        </div>
      </div>

    </mat-menu>-->

    <div *ngIf="$base64 | async as img" class="cropper">
      <div class="wrapper" style="display: flex; flex-direction: column">
        <button *ngIf="isMobile" (click)="drawer.toggle()" mat-icon-button style="margin-bottom: 5px">
          <mat-icon>download</mat-icon>
        </button>
      </div>
      <div class="img-cropper">
        <image-cropper #event [imageBase64]="img"
                       [maintainAspectRatio]="maintainAspectRatio"
                       [cropper]="cropper"
                       (imageLoaded)="imageLoaded()"
                       (cropperReady)="foo($event)"
                       [alignImage]="'center'"
                       [aspectRatio]="$aspectRatioSubj | async"
                       (imageCropped)="imageCropped($event)"
                       class="cropper">
        </image-cropper>

      </div>

      <!--<div class="overlay">
        <button mat-icon-button>
          <button *ngIf="finishedLoadingImage || isDownLoadingImage !== null" [matMenuTriggerFor]="menu"
                  (onMenuOpen)="cropAndDownload(input.value, input2.value)" mat-icon-button>
            <mat-icon class="more-icon">more_horiz</mat-icon>
          </button>
          <mat-menu style="width: 100%" #menu="matMenu">
            <button mat-raised-button (click)="drawer.toggle()">Show</button>
          </mat-menu>
        </button>
      </div>-->

    </div>


  </mat-drawer-content>
</mat-drawer-container>

