.hoverable:hover {
  background: #eeeeee;
}


.example-container {
  width: 100vw;
  height: 100vh;
}



.cropper {
  position: relative;
  display: grid;
  place-items: center;
  /*padding: 50px;*/
}



@media screen and (min-width: 0px) and (max-width: 1198px) {
  .img-cropper {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}


@media screen and (min-width: 1200px) {
  .img-cropper {
    max-width: 1200px;
    max-height: 1100px;
  }
}

@media screen and (min-width: 1200px) {
  .icon {
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 10px;
    height: 60px;
    width: 60px;
  }

  .mat-button-toggle {
    font-size: 1.2em;
    color: black;
  }

  .download-btn {
    margin-top: 50px;
  }


  .details {
    width: 100%;
    display: grid;
    grid-template:
      "icon" 1fr
      "title" auto
      "divider"
      "width" 0.3fr
      "height" 0.3fr
      "ratio"
      "download-button" 0.3fr
      "loading";
    place-items: center;
    gap: 15px;
  }

  .width {
    width: 100%;
    font-size: 18px;
  }

  .height {
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1190px) {
  .example-sidenav {
    display: grid;

    padding: 20px;
    grid-template:
      "details" auto
     / auto;
    background-color: white;
    border: none;
    box-shadow: 1.3px 12px 30px rgba(0, 0, 0, 0.12),
    2.5px 10px 20px rgba(0, 0, 0, 0.10),
    4.7px 8px 10px rgba(0, 0, 0, 0.08),
    8.9px 4px 6px rgba(0, 0, 0, 0.06),
    10.1px 2px 5px rgba(0, 0, 0, 0.04);
  }

  .details {
    width: 100%;
    display: grid;
    grid-template:
      "icon" 1fr
      "title" auto
      "divider"
      "width" 0.3fr
      "height" 0.3fr
      "ratio"
      "download-button" 0.3fr
      "loading";
    place-items: center;
    gap: 15px;
  }

  .icon {
    margin-bottom: 5px;
    padding: 10px;
    height: 40px;
    width: 40px;
  }

  .width {
    width: 100%;
    font-size: 17px;
  }

  .height {
    width: 100%;
    font-size: 17px;
  }
}

.close {
  grid-area: close;
  place-items: flex-end;
}

@media screen and (min-width: 0px) and (max-width: 599.98px) {
   .example-sidenav {
     width: 200px;
     height: 100%;
   }

  .loading {
    display: grid;
    place-items: center;

  }


  .details {
    display: grid;
    grid-template:
      "close" 0.7fr
      "width" 0.3fr
      "height" 0.3fr
      "download-button" 0.3fr;
    place-items: center;
    gap: 15px;
  }


  .download-btn {
    margin-top: 10px;
  }

  .mat-button-toggle {
    font-size: 0.8em;
    color: black;
  }

  .details {
    font-size: 15px;
  }

  .width {
    font-size: 13px;
    width: 90%;
  }

  .height {
    font-size: 13px;
    width: 90%;
  }
}




.details {
  grid-area: details;
}



.toggle-group {
  color: black;
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
}

@media screen and (min-width: 1200px) {
  .details {
    position: relative;
    grid-template-columns: minmax(300px, 0.8fr);
    width: 100%;
    min-width: 100%;
  }


}

@media screen and (min-width: 600px) and (max-width: 1198px) {
  .details {
    position: relative;
    grid-template-columns: minmax(150px, 0.5fr);
    width: 100%;
    min-width: 100%;
  }
}

/*@media screen and (min-width: 0px) and (max-width: 599.98px) {
  .details {
    width: 100px;
  }

}*/

/*@media screen and (min-width: 960px) {
  .example-sidenav {
    display: grid;
    place-items: center;
    padding: 20px;
    grid-template-columns: minmax(200px, 1fr);
    background-color: white;
    border: none;
    box-shadow: 1.3px 12px 30px rgba(0, 0, 0, 0.12),
    2.5px 10px 20px rgba(0, 0, 0, 0.10),
    4.7px 8px 10px rgba(0, 0, 0, 0.08),
    8.9px 4px 6px rgba(0, 0, 0, 0.06),
    10.1px 2px 5px rgba(0, 0, 0, 0.04);
  }
}*/

.mat-form-field-appearance-outline {
  outline-color: white;
}

.width {
  grid-area: width;
}

.height {
  grid-area: height;
}

.ratio {
  grid-area: ratio;

}


/*.example-sidenav-content {
  display: grid;
  place-items: flex-start;
  height: 100%;
  width: 100%;
  !*display: flex;
  align-items: center;
  justify-content: center;*!
}*/



.cropper {
  position: relative;
  padding: 30px;
}

.overlay {
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;

  margin-bottom: 50px;
}

.loading {
  grid-area: loading;
}

.title {
  grid-area: title;
}

.more-icon {
  /*margin-bottom: 70px;*/
  transform: scale(2);
}

.title-divider {
  grid-area: divider;
  width: 70%;
  margin-bottom: 15px;
  color: black;
}

.icon {
  grid-area: icon;
  display: grid;
  place-items: center;
  color: white;
  background-color: #D7AB3E;
  border-radius: 100%;
  box-shadow: 1.3px 12px 30px rgba(0, 0, 0, 0.12),
  2.5px 10px 20px rgba(0, 0, 0, 0.10),
  4.7px 8px 10px rgba(0, 0, 0, 0.08),
  8.9px 4px 6px rgba(0, 0, 0, 0.06),
  10.1px 2px 5px rgba(0, 0, 0, 0.04);
  /*background-image: url('~src/assets/Specshots-Logo.png');*/
}

.icon .mat-icon {
  grid-area: icon;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.download-btn {
  box-shadow: 1.3px 12px 30px rgba(0, 0, 0, 0.12),
  2.5px 10px 20px rgba(0, 0, 0, 0.10),
  4.7px 8px 10px rgba(0, 0, 0, 0.08),
  8.9px 4px 6px rgba(0, 0, 0, 0.06),
  10.1px 2px 5px rgba(0, 0, 0, 0.04);
  width: 120px;
  background-color: #F65767;
  color: white;
  grid-area: download-button;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.white-color {
  color: black;
}
