.form-p {
  width: 400px;
}

//.container {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}


.logo-container2 {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #941B85;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  max-width: 100px;
  max-height: 100px;
}

.registration {
  width: 100%;
  padding: 20px;
}

.registration-container {
  margin-top: 15px;
}



.white-color {
 color: white;
}

.header {
  font-size: 20px;
  padding: 20px;
  background-color: #64125A;
}

.mat-form-field {
  width: 100%;
  /*margin-right: 10px;*/
}

.profile-icon {
  position: relative;
}

.icon {
  margin-bottom: 5px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  //position: absolute;
  //top: 0;
  //bottom: 10px;
  //left: 0;
  //right: 0;
}

.container2 {
  width: 620px;
  height: 100%;
}


