.container {
  display: grid;
  grid-template:
    "title"
    "email"
    "password"
    "refresh"
    /1fr;
}


.email-field {
  width: 100%;
}

.password-field {
  width: 100%;
}

.title {
  grid-area: title;
}

.email {
  grid-area: email;
  width: 100%;
}

.password {
  grid-area: password;
  width: 100%;
}

.refresh {
  grid-area: refresh;
}

