<div class="container">
  <h2 class="title">The activation token is expired</h2>
  <div class="email">
    <mat-form-field  class="email-field" appearance="fill">
      <mat-label>
        Email
      </mat-label>
      <input [formControl]="emailFormField" matInput type="text">
    </mat-form-field>
  </div>
  <div class="password">
    <mat-form-field class="password-field" appearance="fill">
      <mat-label>
        Password
      </mat-label>
      <input [formControl]="passwordFormField" matInput class="password" type="password">
    </mat-form-field>
  </div>
  <button (click)="renewToken()" color="primary" mat-raised-button class="refresh">Renew token</button>
</div>

