<div style=" margin-bottom: 10px;display: flex; flex-direction: row; align-content: center; align-items: center">
  <span>Select the part of the image which should be displayed as an thumbnail</span>
  <button style="margin-left: 10px" color="primary" mat-raised-button (click)="close()">Crop image</button>
  {{width + ' - ' + height}}
</div>
<div style="" class="cropper" *ngIf="cropperObj">
  <image-cropper *ngIf="disable == false"
                 [canvasRotation]="cropperObj.rotate ? 1 : 0"
                 [imageBase64]="croppedImage"
                 [maintainAspectRatio]="true"
                 [resizeToWidth]="cropperObj.resizeWidth"
                 [resizeToHeight]="cropperObj.resizeHeight"
                 (cropperReady)="getDimensionFromCropper($event)"
                 (imageLoaded)="imageLoaded()"
                 [cropper]="cropper"
                 [cropperStaticWidth]="cropperObj.staticWidth"
                 [cropperStaticHeight]="cropperObj.staticHeight"
                 (imageCropped)="imageCropped($event)"
                  [cropperMinWidth]="150" [cropperMinHeight]="138">
  </image-cropper>
</div>



