<mat-grid-list class="img-list" [cols]="device === 'sm' || device === 'md' ? 2 : device === 'xs' ? 1 : 4"
               [rowHeight]="10"
               [gutterSize]="20+'px'" >
  <mat-grid-tile class="grid-tile" [rowspan]="item.rows" *ngFor="let imgItem of (models | async); index as i; trackBy: track" >
      <app-image-item class="img-item" #item [image]="imgItem"
                      [rowHeight]="10"
                      [gutterSize]="20">

      </app-image-item>

      <div (click)="fooTest()" class="item-container">
          <button mat-icon-button *ngIf="imgItem.user.profileImgPath" class="account-btn profile-icon" (click)="navigateToUser(imgItem)">
            <img class="shadow3 user-profile-img" id="img-profile" [src]="imgItem.user.profileImgPath" alt="">
          </button>
        <span class="user-name" id="user-txt">{{ imgItem.user.email.substr(0, imgItem.user.email.indexOf('@')) }}</span>

          <a class="img-download"
             matTooltip="Click to download this image"
             mat-fab
             (click)="download(imgItem)">
            <mat-icon style="font-weight: bolder" class="white-icon">save_alt</mat-icon>
          </a>



        <div *ngIf="!imgItem.user.profileImgPath" class="profile-icon">
          <button class="btn" mat-icon-button>
            <mat-icon style="font-size: 70px; color: white">account_circle</mat-icon>
          </button>
          <a mat-button *ngIf="!imgItem.user.profileImgPath" class="header"
             (click)="navigateToUser(imgItem)">
            {{ imgItem.user.email.substr(0, imgItem.user.email.indexOf('@')) }}
          </a>
        </div>

        <div *ngIf="editable && isProfile" class="img-settings">
          <a mat-icon-button>
            <mat-icon class="setting-icon icon white-icon mobile-icon" matTooltip="This image is public" (click)="changeImageDetails(imgItem)"
                      *ngIf="imgItem.isPublic">settings
            </mat-icon>
          </a>
        </div>

        <div class="likes-box">
          <div class="likes">
            <a class="thumbUp" (click)="likeImage(imgItem, imgItem.userId)"
               mat-icon-button>
              <mat-icon class="white-icon icon mobile-icon" style="">thumb_up</mat-icon>
            </a>
          </div>

          <!--<button mat-icon-button (click)="download(imgItem)">
            <mat-icon class="white-icon icon-size">save_alt</mat-icon>
          </button>-->
        </div>

        <div class="actions">
          <button matTooltip="Click to open menu"
                  style="color: white;"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu">
            <mat-icon class="action_icon icon white-icon mobile-icon" style="">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="editable && isProfile"
                    (click)="showAddTagsDialog(imgItem)"
                    mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Add tags</span>
            </button>
            <button (click)="showFullscreenImage(imgItem)" mat-menu-item>
              <mat-icon>fullscreen</mat-icon>
              <span>Fullscreen</span>
            </button>
            <!--<a mat-menu-item (click)="download(imgItem)">
              <mat-icon>save_alt</mat-icon>
              <span>Download image</span>
            </a>-->
            <a matTooltip="Go to {{imgItem.linkReference}}"
               mat-menu-item
               [href]="imgItem.linkReference">
              <mat-icon>public</mat-icon>
              <span>Go to source</span>
            </a>
          </mat-menu>
        </div>
        <!--<a *ngIf="imgItem.linkReference !== 'null'" class="link-reference" matTooltip="Go to {{imgItem.linkReference}}"
           mat-menu-item
           [href]="imgItem.linkReference">
          <mat-icon style="color: white">public</mat-icon>
        </a>-->
      </div>
  </mat-grid-tile>
</mat-grid-list>




