:host {
  font-family: Inconsolata, serif;
}

.img-list {
  margin-left: 15px;
}


.img-list {
  margin-top: 50px;
  overflow: hidden;
}

.item-container  {
  font-family: Inconsolata, serif;
  overflow: hidden;
}


.item-container {
  display: none;
  overflow: hidden;
}



@media screen and (max-width: 600px) {
  .grid-tile:hover .item-container {
    background: rgba(0, 0, 0, .15);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;

    .profile-icon {
      position: absolute;
      bottom: 5px;
      left: 15px;
    }


    .user-name {
      position: absolute;
      bottom: 20px;
      left: 50px;
      color: white;
      font-size: 1.3em;
      margin-left: 10px;
      font-family: "Inconsolata", serif;
      /*margin-bottom: 30px;*/
    }

    .expand-icon {
      width: 25px;
      height: 25px;

    }

    .img-list {
      overflow-y: hidden;
    }

    .fullscreen-icon {
      top: 47%;
      left: 47%;
    }

    .fullscreen-icon {
      top: 47%;
      left: 47%;
    }

    .setting-icon {
      font-size: 1.5em;
    }

    .action_icon {
      font-size: 1.5em;
    }

    .img-settings {
      position: absolute;
      top: 0;
      left: 5px;
    }

    .likes-box {
      position: absolute;
      top: 0;
      right: 6px;

      .mobile-icon {
        font-size: 1.5em;
      }
      .icon {
        font-size: 1.5em;
      }
    }

    .img-download {
      font-size: 1.3rem;
    }

    .img-download {
      position: absolute;
      bottom: 10px;
      right: 5px;
    }

    .white-icon {
      color: white;
    }

    .actions {
      position: absolute;
      top: 40px;
      right: 0;
    }

    .expand-icon {
      width: 20px;
      height: 20px;
    }

    .link-reference {
      position: absolute;
      bottom: 20px;
      right: 10px;
    }
  }
}





@media screen and (min-width: 600px) and (max-width: 1918px) {
  .grid-tile:hover .item-container {
    overflow: hidden;
    background: rgba(0, 0, 0, .15);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;

    .expand-icon {
      width: 25px;
      height: 25px;

    }

    .fullscreen-icon {
      top: 47%;
      left: 47%;
    }

    .profile-icon {
      position: absolute;
      bottom: 20px;
      left: 15px;
    }

    .user-name {
      position: absolute;
      bottom: 30px;
      left: 50px;
      color: white;
      font-size: 1.5em;
      margin-left: 10px;
      font-family: "Inconsolata", serif;
      /*margin-bottom: 30px;*/
    }

    .img-settings {
      position: absolute;
      top: 10px;
      left: 5px;
    }

    .likes-box {
      position: absolute;
      top: 10px;
      right: 8px;

      .mobile-icon .action_icon {
        font-size: 1.2em;
      }

    }

    .img-download {
      font-size: 1.5rem;
    }

    .img-download {
      position: absolute;
      bottom: 15px;
      right: 10px;
    }

    .white-icon {
      color: white;
    }

    .actions {
      position: absolute;
      top: 50px;
      right: 0;
    }

    .expand-icon {
      width: 25px;
      height: 25px;
    }

    .link-reference {
      position: absolute;
      bottom: 20px;
      right: 10px;
    }
  }
}





@media screen and (min-width: 1920px) {
  .grid-tile:hover .item-container {
    background: rgba(0, 0, 0, .15);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;

    .img-download {
      font-size: 2rem;
    }

    .fullscreen-img {
      width: 50px;
      height: 50px;
    }

    .fullscreen-icon {
      top: 47%;
      left: 47%;
      font-size: 4rem;
    }

    .expand-icon {
      width: 30px;
      height: 30px;
    }


    .profile-icon {
      position: absolute;
      bottom: 30px;
      left: 15px;
    }

    .user-name {
      position: absolute;
      bottom: 35px;
      left: 65px;
      color: white;
      font-size: 1.5em;
      margin-left: 10px;
      font-family: "Inconsolata", serif;
      /*margin-bottom: 30px;*/
    }

    .img-download {
      position: absolute;
      bottom: 18px;
      right: 15px;
    }

    .icon {
      font-size: 2.3em;
    }

    .img-settings {
      position: absolute;
      top: 10px;
      left: 5px;
    }

    .likes-box {
      position: absolute;
      top: 10px;
      right: 20px;

      .icon-size {
        font-size: 2.3em;
      }
    }

    .actions {
      position: absolute;
      top: 60px;
      right: 5px;
    }

    .white-icon {
      color: white;
    }

    .link-reference {
      position: absolute;
      bottom: 20px;
      right: 10px;
    }
  }
}

.account {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  #img-profile {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
}


@media screen and (min-width: 600px) and (max-width: 1918px) {
  #img-profile {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1920px) {
  #img-profile {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}

.tags {
  position: relative;
  display: inline-block;
}
