<app-search-toolbar [filterable]="false"></app-search-toolbar>

<!--<app-bootstrap-playground></app-bootstrap-playground>-->

<main>
  <section class="banner" id="top">
    <div class="container-banner">
      <!--<div class="row">
        <img class="logo" width="512px" height="512px" src="assets/Specshots-Logo.png">
      </div>-->

      <div class="row">
        <!--foo-->
        <div class="banner-caption">
          <h1 style="font-size: 58px">SpecShots</h1>
          <div class="line-dec"></div>
          <h3>The most Spectacle Photography for You</h3>
          <p>Here is some filler text to work with Hello Test.</p>
          <a routerLink="/tag-view" id="btn" mat-stroked-button>Explore SpecShots</a>
        </div>
        <div [ngStyle]="
        {
        'position': 'absolute',
        'right': isDesktopDeviceXl ? '0%' : isDesktopDeviceLg ? '5%' : '0'
        }"
             class="logo">
          <img width="824px" height="824px" src="assets/Specshots-Logo.png">
        </div>

      </div>
    </div>
  </section>

  <div class="container-1">
    <div class="box-1">
      <h3>High quality</h3>
      <p>Internationalized and accessible components for everyone. Well tested to ensure performance and
        reliability.</p>
      <p>Straightforward APIs with consistent cross platform behaviour.</p>
    </div>
    <div class="box-2">
      <h3>Versatile</h3>
      <p>Provide tools that help developers build their own custom components with common interaction patterns.</p>
      <p>Customizable within the bounds of the Material Design specification.</p>
    </div>
    <div class="box-3">
      <h3>Box Three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</main>

<!--<footer>

</footer>-->
